DB_DRIVER=postgresql+psycopg
DB_USER=<your-user-here>
DB_PASSWD=<your-secure-db-password-here>
DB_HOST=localhost
DB_PORT=5432
DB_NAME=<name-of-your-db-here>
JWT_SECRET=<your-secure-jwt-secret-here>
JWT_ALGORITHM=HS256
TEST_USER=<your-test-user-here>
TEST_PASSWORD=<your-test-users-password-here>
ACCESS_TOKEN_EXPIRE_MINUTES=15
DEGOOG_DOCKER_DB_PASSWD=<your-degoog-docker-db-password-here>
DEGOOG_DOCKER_PASSWD=<your-degoog-docker-password-here>
